@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.main {
  font-family: 'Poppins', sans-serif;

  .leaderboard {
    h1 {
      font-size: 3rem;
      font-weight: 700;
      margin-bottom: 1rem;
    }

    .recent-scores {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1rem;
      font-size: 1.5rem;

      .btn-refresh {
        box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3);
        background-color: #4caf50;
        color: #fff;
        border-radius: 5px;
        padding: 10px;
        margin-top: 20px;
        border: none;
        padding: 0.5rem 1rem;
        cursor: pointer;
        font-size: 1.2rem;
      }
    }

    .leaderboard-content {
      list-style: none;
      padding: 0;

      .leaderboard-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;
        font-weight: 700;
        margin-right: 1rem;

        .leaderboard-item-name {
          font-size: 1rem;
          font-style: italic;
        }

        .leaderboard-item-score {
          font-size: 1.5rem;
        }
      }
    }
  }

  .form {
    display: grid;
    place-items: center;
    padding: 100px 0;

    h2 {
      font-size: 2.5rem;
      font-weight: bold;
      margin-bottom: 20px;
    }

    .form-group {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 20px;
      margin-bottom: 20px;

      input {
        border: none;
        border-bottom: 1px solid #000;
        padding: 10px;
        font-size: 1.2rem;
        font-weight: bold;
        background: transparent;
        outline: none;
        color: #000;
        transition: 0.3s;

        &:focus {
          border-bottom: 1px solid #000;
        }
      }
    }

    .btn-submit {
      float: right;
      box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3);
      background-color: #4caf50;
      color: #fff;
      border-radius: 5px;
      padding: 10px;
      margin-top: 20px;
      border: none;
      cursor: pointer;
      font-size: 1.2rem;
    }
  }
}

@media screen and (min-width: 968px) {
  .main {
    display: flex;
    max-width: 800px;
    margin: auto;
    justify-content: space-between;
  }
}
